In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
df=pd.read_csv('Seasons_Stats.csv')
df.drop_duplicates(keep='first',subset=['Player','Year'],inplace=True)

In [96]:
df1=df[pd.isnull(df['GS'])==False]

In [97]:
df1=df1.drop(['Unnamed: 0','Tm','Pos','Age','blank2','blanl'],axis=1)
df1=df1.groupby(['Player','Year']).mean()

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
allstar=pd.read_excel('All_Star.xls', index_col=None, header=None)
allstar.columns=['Player','Years']

In [100]:
def extrapolate(cols):
    value=int(cols[5:])-int(cols[:4])
    m=''
    for i in range(0,value+1):
        x=int(cols[:4])+i
        x=str(x)
        m=m+x+';'
    
    return m

In [101]:
year1=[]
for year in allstar['Years']:
    year1.append(str(year).replace(' ',''))

In [102]:
year2=[]
for a in year1:
    year2.append(a.replace('\xa0',''))

In [103]:
year3=[]
l=0
for i in year2:
    b=''
    for j in i.split(';'):
        if 'â€“' in j:
            k=extrapolate(str(j))
        else:
            k=str(j)+';'
        b=b+k
    year3.insert(l,b)
    l=l+1

In [104]:
year3 = [x[:-1] for x in year3]

In [105]:
m=0
year4=[]
for player in year3:
    c=[]
    for i in player.split(';'):
        c.append(float(i))
    year4.insert(m,c)   
    m=m+1

In [106]:
from  itertools import chain

y=[len(x) for x in year4]
all_star= pd.DataFrame({'Player': np.repeat(allstar['Player'].values, y),
        'Year': list(chain.from_iterable(year4))})

In [107]:
df4=pd.merge(df, all_star,right_on=['Player','Year'],left_on=['Player','Year'], how='left', indicator='Exist')

In [108]:
df4['Exist'] = np.where(df4.Exist == 'both', True, False)

In [109]:
df4[df4['Player']=='LeBron James']

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Exist
13998,16746,2004.0,LeBron James,SG,19.0,CLE,79.0,79.0,3122.0,18.3,...,99.0,333.0,432.0,465.0,130.0,58.0,273.0,149.0,1654.0,False
14452,17344,2005.0,LeBron James,SF,20.0,CLE,80.0,80.0,3388.0,25.7,...,111.0,477.0,588.0,577.0,177.0,52.0,262.0,146.0,2175.0,True
14908,17918,2006.0,LeBron James,SF,21.0,CLE,79.0,79.0,3361.0,28.1,...,75.0,481.0,556.0,521.0,123.0,66.0,260.0,181.0,2478.0,True
15366,18460,2007.0,LeBron James,SF,22.0,CLE,78.0,78.0,3190.0,24.5,...,83.0,443.0,526.0,470.0,125.0,55.0,250.0,171.0,2132.0,True
15828,19017,2008.0,LeBron James,SF,23.0,CLE,75.0,74.0,3027.0,29.1,...,133.0,459.0,592.0,539.0,138.0,81.0,255.0,165.0,2250.0,True
16275,19611,2009.0,LeBron James,SF,24.0,CLE,81.0,81.0,3054.0,31.7,...,106.0,507.0,613.0,587.0,137.0,93.0,241.0,139.0,2304.0,True
16733,20207,2010.0,LeBron James,SF,25.0,CLE,76.0,76.0,2966.0,31.1,...,71.0,483.0,554.0,651.0,125.0,77.0,261.0,119.0,2258.0,True
17179,20812,2011.0,LeBron James,SF,26.0,MIA,79.0,79.0,3063.0,27.3,...,80.0,510.0,590.0,554.0,124.0,50.0,284.0,163.0,2111.0,True
17638,21395,2012.0,LeBron James,SF,27.0,MIA,62.0,62.0,2326.0,30.7,...,94.0,398.0,492.0,387.0,115.0,50.0,213.0,96.0,1683.0,True
18095,21933,2013.0,LeBron James,PF,28.0,MIA,76.0,76.0,2877.0,31.6,...,97.0,513.0,610.0,551.0,129.0,67.0,226.0,110.0,2036.0,True
18577,22548,2014.0,LeBron James,PF,29.0,MIA,77.0,77.0,2902.0,29.3,...,81.0,452.0,533.0,488.0,121.0,26.0,270.0,126.0,2089.0,True
19067,23154,2015.0,LeBron James,SF,30.0,CLE,69.0,69.0,2493.0,25.9,...,51.0,365.0,416.0,511.0,109.0,49.0,272.0,135.0,1743.0,True
19545,23781,2016.0,LeBron James,SF,31.0,CLE,76.0,76.0,2709.0,27.5,...,111.0,454.0,565.0,514.0,104.0,49.0,249.0,143.0,1920.0,True
20020,24365,2017.0,LeBron James,SF,32.0,CLE,74.0,74.0,2794.0,27.0,...,97.0,543.0,640.0,646.0,92.0,44.0,303.0,134.0,1954.0,True

In [110]:
from sklearn.model_selection import train_test_split

In [111]:
df4=df4[pd.isnull(df4['GS'])==False]
df5=df4.drop(['Unnamed: 0','Pos', 'Age', 'Tm', 'G','blanl','blank2'],axis=1)
df6=df5.groupby(['Player','Year']).mean()
df6.dropna(inplace=True)

In [112]:
x=df6.drop(['Exist'],axis=1)
y=df6['Exist']

In [113]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [114]:
from sklearn.linear_model import LogisticRegression

In [115]:
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [116]:
predictions=logmodel.predict(x_test)

In [117]:
from sklearn.metrics import classification_report,confusion_matrix

In [118]:
print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

             precision    recall  f1-score   support

      False       0.97      0.99      0.98      3457
       True       0.76      0.53      0.63       245

avg / total       0.95      0.96      0.95      3702

[[3415   42]
 [ 114  131]]

In [119]:
coefficients=pd.DataFrame(logmodel.coef_.T,x_train.columns.values)
coefficients.columns=['Coefficients']

In [120]:
x_train.columns.values

array(['GS', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS',
       'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype=object)

In [121]:
coefficients[coefficients['Coefficients']>0.1]

      Coefficients
FTr       0.108249
TRB%      0.278195
BLK%      0.560115
USG%      0.378994
DWS       0.405252
WS        0.361661
OBPM      0.459048
BPM       0.587901

In [122]:
#What has been learned is that the model works reasonably well in predicting an all-star within 78%
#Also very good at predicting players who had good seasons

In [123]:
#Try another Method of classification

In [124]:
from sklearn.ensemble import RandomForestClassifier

In [125]:
rfc = RandomForestClassifier(n_estimators=600)

In [126]:
rfc = RandomForestClassifier(n_estimators=600)
rfc.fit(x_train,y_train)
rfc_pred = rfc.predict(x_test)

In [127]:
print(classification_report(y_test,rfc_pred))
print(confusion_matrix(y_test,rfc_pred))

             precision    recall  f1-score   support

      False       0.97      0.99      0.98      3457
       True       0.76      0.54      0.63       245

avg / total       0.95      0.96      0.95      3702

[[3414   43]
 [ 112  133]]

In [128]:
#RandomTreeClassifier is the same performance as logistic Regression

In [129]:
#Creating a Ranking System Based on Machine Learned Classification

#Creates sum of the co-efficients of highest weighting 
coeff_sum=coefficients[coefficients['Coefficients']>0.1].sum()
T=coefficients[coefficients['Coefficients']>0.1]/coeff_sum

In [133]:
allstar=df[['Player','Year', 'FTr','TRB%','BLK%','USG%','DWS', 'WS', 'OBPM', 'BPM']].dropna()
allstar=allstar.groupby(['Player','Year']).mean()

In [131]:
Ratings=pd.DataFrame(allstar.values.dot(T.values),index=allstar.index)

In [132]:
Ratings.columns=['Rating']